<div>
  <button mat-button [routerLink]="['/home']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>
    Total: {{ total$ | async | currency }}
  </span>
  <div class="items">
    <mat-card class="item" *ngFor="let item of cartList">
      <mat-card-header class="item-header">
        <img class="image-item" [src]="item.url" alt="" srcset="" />
        <mat-card-title>
          {{ item.name }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="item-cart-info">
        <span> Quantity: {{ item.quantity }}</span>
        <span> price: {{ item.price | currency }} </span>
        <mat-icon (click)="deleteItem(item.id, item.price, item.quantity)">delete</mat-icon>
      </mat-card-content>
      <mat-card-actions class="item-options">
        <button mat-button (click)="add(items, item.id, item.price, item.quantity)">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field>
          <input #items matInput type='number' readonly [value]="item.quantity" min="0" placeholder="Quantity"/>
        </mat-form-field>
        <button mat-button (click)="remove(items, item.id, item.price, item.quantity)">
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
