<div>
  <span>
    {{ total$ | async | currency }}
  </span>
  <button mat-button [routerLink]="['/home']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card *ngFor="let item of cartList">
    <mat-card-header>
      <img [src]="item.url" alt="" srcset="">
      <mat-card-title>
        {{ item.name }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content
      >{{ item.product_variant_id }} {{ item.quantity }} <mat-icon (click)="deleteItem(item.id)">delete</mat-icon>
    </mat-card-content>
  </mat-card>
</div>
