.items{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  margin-bottom: 10px;
}

.item-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-item{
  width: 100px;
  height: 100px;
}

.item-cart-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-options{
  display: flex;
  align-items: center;
}
