<div class="toolbar" color="primary">
  <div class="logo-container">
    <div class="toggle-space"></div>
    <img [routerLink]="['/home']" class="logo" src="../../../../../assets/aplaud.png" alt="" />
  </div>
  <div class="search-bar">
    <mat-icon (click)="search(searchBar)">search</mat-icon>
    <mat-form-field>
      <input #searchBar matInput (keyup.enter)="search(searchBar)" />
    </mat-form-field>
  </div>
  <div class="login-options">
    <app-profile *ngIf="displayUser" (closeProfile)="changeProfile()" ></app-profile>
    <div *ngIf="isLogged$ | async" (click)="changeProfile()" mat-card-avatar class="card-header-image">

    </div>
    <div *ngIf="!(isLogged$ | async)">
      <button [routerLink]="['/login']" mat-raised-button>Log In</button>
    </div>
  </div>
</div>
