.toolbar{
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.logo-container{
  display: flex;
  align-items: center;
  cursor: pointer;
  img{
    width: 60px;
    height: 60px;
  }

  .toggle-space{
    margin-right: 20px;
  }
}

.menu{
  width: 40px;
  padding: 0px;
  max-width: 20px;
  min-width: 20px;
}

.search-bar{
  display: flex;
  align-items: center;
}
