<div class="card-list" [@fadeIn]="products.length">
  <mat-card  class="card-prodcut" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img class="product-img" (click)="openProduct(product.id)" mat-card-image [src]="product.image?.url" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      Price: {{ product.master.price | currency  }}
    </mat-card-content>
    <mat-card-actions class="card-bottom">
      <button class="cart" mat-button (click)="addCart(product.id, 1, product.name,product.image.url,product.master.price)">
        <mat-icon>add_shopping_cart </mat-icon>
      </button>
      <button class="like" (click)="likeProduct(product.id, 1)" mat-button [disabled]="!(canLike$ | async)">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button class="dislike" (click)="likeProduct(product.id, 0)" mat-button [disabled]="!(canLike$ | async)">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
