<button class="toggle" type="button" mat-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-drawer-container class="product-container" autosize>

<mat-drawer (toggleEvent)="drawer.toggle()"  #drawer id='sidenav' class="product-sidenav" mode="side">
  <mat-list>
    <mat-list-item (click)='filterProducts(category.slug, category.name)' *ngFor="let category of categories$ | async"> {{ category.name }} </mat-list-item>
   </mat-list>
</mat-drawer>

  <div class="product-sidenav-content">

    <app-product-card></app-product-card>
  </div>
</mat-drawer-container>
