<form [formGroup]="loginForm">
  <div class="login-container">
    <span class="login-title">Login</span>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email"/>
        <app-form-error [control]="getControl('email')"></app-form-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" />
        <app-form-error [control]="getControl('password')"></app-form-error>
      </mat-form-field>
      <button mat-raised-button color="warn" class="login-button" [disabled]="!loginForm.valid" (click)="loginCheck()">
        Login
      </button>
    </div>
  </div>
</form>
